---
import { Icon } from 'astro-icon';
import styles from '../../utils/styles';
import AccentBlur from '../AccentBlur.astro';
import Container from '../Container.astro';
import Pattern from '../Pattern.astro';

import * as whatWeDo from '../../content/services/what-we-do.md';
import * as whatWeSolve from '../../content/services/what-we-solve.md';
import * as whoWeAre from '../../content/services/who-we-are.md';
import Heading from '../Heading.astro';
---

<section class={styles.section} id="scope-of-work">
  <Container>
    <Heading
      title="Our Manifesto"
      subtitle="Forging digital equipment for your business. See how we can help you."
    />
    <div>
      <div
        class="card bg-[url('shop_background.png')] bg-fixed bg-no-repeat bg-cover bg-center h-[320px] mb-16 relative overflow-hidden"
      >
        <Pattern />
        <AccentBlur />
      </div>
      <div class="flex flex-col md:flex-row flex-wrap gap-8 md:gap-16">
        <div class="flex-1 animate">
          <h2 class="text-3xl mb-5 font-bold">
            {whatWeDo?.frontmatter?.title}
          </h2>
          <div class="mb-5">
            <div class="text-lg mb-5" set:html={whatWeDo.compiledContent()} />
          </div>
          <div class="md:columns-2 lg:columns-3">
            <ul class="[&>li]:mb-4">
              {
                whatWeDo?.frontmatter?.services?.map((item: string) => (
                  <li class="flex gap-2 items-center">
                    <Icon name="gg:check-o" class="w-[16px] text-primary" />
                    <div set:html={item} />
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="flex-1">
          <div class="mb-8 animate">
            <h2 class="text-3xl mb-5 font-bold">
              {whoWeAre?.frontmatter?.title}
            </h2>
            <div class="text-lg mb-5" set:html={whoWeAre.compiledContent()} />
          </div>
          <div class="mb-8 animate">
            <h2 class="text-3xl mb-5 font-bold">
              {whatWeSolve?.frontmatter?.title}
            </h2>
            <div
              class="text-lg mb-5"
              set:html={whatWeSolve.compiledContent()}
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
