---
import { Icon } from 'astro-icon';
import Container from '../Container.astro';
import * as whatWeDo from '../../content/services/what-we-do.md';
import * as whatWeSolve from '../../content/services/what-we-solve.md';
import * as whoWeAre from '../../content/services/who-we-are.md';
import AccentBlur from '../AccentBlur.astro';
import Heading from '../Heading.astro';
import QuoteCard from '../QuoteCard.astro';
import Section from '../Section.astro';
import TestimonialCard from '../TestimonialCard.astro';
import H1 from '../H1.astro';
---

<Section id="scope-of-work">
  <Container>
    <Heading
      highlight={['digital solutions']}
      position="center"
      title="Our Manifesto"
      subtitle="Forging tailored digital solutions for your business. See how we can help you."
    />
    <div>
      <div class="grid grid-cols-2 gap-6 mb-16">
        <div class="grid grid-cols-2 gap-6">
          <TestimonialCard
            name="0xSlothETH"
            description="Web3 Advisor ðŸŒ | Community Builder"
            image="https://pbs.twimg.com/profile_images/1663944805133570055/HlJjuTal_400x400.jpg"
            href="#"
            testimonial="It's safe to say that Modiggo work style is top-notch and they always managed to impress me with their dedication and ability to bring our projects to life. I couldn't have asked for a better partner to work with!"
          />
          <TestimonialCard
            name="0xSlothETH"
            description="Web3 Advisor ðŸŒ | Community Builder"
            image="https://pbs.twimg.com/profile_images/1663944805133570055/HlJjuTal_400x400.jpg"
            href="#"
            testimonial="It's safe to say that Modiggo work style is top-notch and they always managed to impress me with their dedication and ability to bring our projects to life. I couldn't have asked for a better partner to work with!"
          />
          <TestimonialCard
            name="0xSlothETH"
            description="Web3 Advisor ðŸŒ | Community Builder"
            image="https://pbs.twimg.com/profile_images/1663944805133570055/HlJjuTal_400x400.jpg"
            href="#"
            testimonial="It's safe to say that Modiggo work style is top-notch and they always managed to impress me with their dedication and ability to bring our projects to life. I couldn't have asked for a better partner to work with!"
          />
          <TestimonialCard
            name="0xSlothETH"
            description="Web3 Advisor ðŸŒ | Community Builder"
            image="https://pbs.twimg.com/profile_images/1663944805133570055/HlJjuTal_400x400.jpg"
            href="#"
            testimonial="It's safe to say that Modiggo work style is top-notch and they always managed to impress me with their dedication and ability to bring our projects to life. I couldn't have asked for a better partner to work with!"
          />
        </div>
        <div>
          <div
            class="sticky top-10 card bg-primary p-4 overflow-hidden animate"
          >
            <div class="md:columns-2 lg:columns-3">
              <ul class="space-y-4">
                {
                  whatWeDo?.frontmatter?.services?.map((item: string) => (
                    <li class="flex gap-2 items-center z-10 relative">
                      <Icon name="gg:check-o" class="w-[16px] text-white" />
                      <div set:html={item} />
                    </li>
                  ))
                }
              </ul>
            </div>
            <AccentBlur />
          </div>
        </div>
      </div>

      <div class="space-y-32">
        <div class="flex items-center justify-between gap-8">
          <div class="flex-1 animate">
            <H1 highlight={['What']} className="mb-8">
              {whatWeDo?.frontmatter?.title}
            </H1>
          </div>

          <div class="flex-1 animate">
            <div class="text-lg mb-5" set:html={whatWeDo.compiledContent()} />
          </div>
        </div>

        <div class="flex items-center justify-between gap-8">
          <div class="flex-1 animate">
            <H1 highlight={['Who']}>{whoWeAre?.frontmatter?.title}</H1>
          </div>
          <div class="flex-1 animate">
            <div class="text-lg mb-5" set:html={whoWeAre.compiledContent()} />
          </div>
        </div>

        <div class="flex items-center justify-between gap-8">
          <div class="flex-1 animate">
            <H1 highlight={['What']}>{whatWeSolve?.frontmatter?.title}</H1>
          </div>
          <div class="flex-1 animate">
            <div
              class="text-lg mb-5"
              set:html={whatWeSolve.compiledContent()}
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</Section>
