---
import { Image } from '@astrojs/image/components';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Container from '../components/Container.astro';
import HaveQuestionsCard from '../components/HaveQuestionsCard.astro';
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import config from '../utils/config';
import styles from '../utils/styles';

const services = await Astro.glob('../content/additional-services/*.md');
---

<Layout title="Additional Services">
  <section class={styles.section}>
    <Container>
      <Breadcrumbs crumbs={[{ label: 'Services' }]} />
      <Heading
        title="Additional Services"
        subtitle="A website is only a single sword in your arsenal. You may need additional items to conquer the digital world."
      />

      <div class="flex flex-wrap gap-4 mb-4">
        {
          services?.map((item) => (
            <div class="card basis-[100%] lg:basis-[calc(33.3%-10.2px)] bg-base-100 border">
              <div class="max-h-[350px] w-full">
                {item.frontmatter.image ? (
                  <Image
                    position="center"
                    src={
                      import(/* @vite-ignore */ item?.frontmatter?.image) ?? ''
                    }
                    alt={item?.frontmatter?.imageAlt}
                    height={350}
                    width={750}
                  />
                ) : null}
              </div>
              <div class="card-body">
                <h2 class="card-title">{item?.frontmatter?.title}</h2>
                <h2 class="card-title text-primary">
                  {item?.frontmatter?.price}
                </h2>
                <p set:html={item?.compiledContent()} />
                <div class="card-actions justify-end">
                  <a
                    href={config.calendarLink}
                    target="_blank"
                    class="btn btn-neutral text-white"
                  >
                    Book a call
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <HaveQuestionsCard />
    </Container>
  </section>
</Layout>
