---
interface Props {
  title?: string;
  description?: string;
  iconName?: string;
  iconClassName?: string;
  className?: string;
}

import { Icon } from 'astro-icon';
const { title, description, iconName, iconClassName, className } = Astro.props;
---

<div class={`${className} z-10`}>
  <div>
    {
      iconName ? (
        <Icon name={iconName} class={`${iconClassName} mb-4` ?? ''} />
      ) : (
        ''
      )
    }
  </div>
  <div class="text-2xl font-bold mb-4">{title}</div>
  <div class="text-xl" set:html={description} />
</div>
