---
import { SEO } from 'astro-seo';
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';
import Footer from '../components/sections/Footer.astro';
import GlobalStyles from '../styles/GlobalStyles.astro';
import Favicons from './Favicons.astro';

export interface Props {
	title: string;
	description?: string;
	image?: string;
}

const defaultDescription =
	'Subscription-based web development services. No more full-time commitments, no more hiring headaches. Choose a partnership plan. Pause or cancel anytime.';

const { title, description = defaultDescription, image } = Astro.props;

const metaImageUrl = `${Astro.url.origin}/${image ?? 'modiggo-meta-image.png'}`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO
			title={title}
			titleTemplate="Modiggo - %s"
			description={description}
			openGraph={{
				basic: {
					title: `Modiggo - ${title}`,
					type: 'website',
					image: metaImageUrl,
				},
			}}
			twitter={{
				title: `Modiggo - ${title}`,
				description,
				creator: '@vaynemyko',
				site: 'https://modiggo.com',
				image: metaImageUrl,
			}}
		/>

		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap"
		/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<Favicons />

		<meta name="generator" content={Astro.generator} />
		<!-- Cookie Consent Banner -->
		<script
			src="https://app.termshub.io/2bae6faa-3e7c-413a-b404-599446f7f7bd/termshub-cookie-consent.js"
			site="Modiggo"></script>
		<!-- Google tag (gtag.js) -->
		<script
			async
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-9GBPDH9M47"></script>

		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'G-9GBPDH9M47');
		</script>
	</head>
	<body>
		<GlobalStyles />
		<main>
			<slot />
			<Footer />
		</main>
		<script>
			import '../scripts/baseAnimation';
			import '../scripts/scrollTo';
		</script>
	</body>
</html>
